{% extends "layout.html" %}
{% block body %}
<h1>Check In</h1>
<form action="" method="post" novalidate>
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=32) }}
		{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=32) }}
		{{ form.hidden_tag() }}
		{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
{% endblock %}